<div class="container-fluid">
       <div class="row">
            <div class="col-lg-4 vh-100 d-flex justify-content-center align-items-center p-lg-5">

                    <div class="p-3 w-100 h-100 shadow-lg d-flex flex-column align-items-center">

                            <div id="container-foto">
                                 {{#if checkUser.imgName}}
                                     <img src="" alt="">
                                 {{else}}
                                     <i class="fas fa-user-circle" id="icon-user-dash"></i>
                                 {{/if}}
                            </div>

                            <h4>Nome</h4>

                            <h6>Profissão</h6>

                            <div>
                                 <a href="">instagram</a>
                                 <a href="">LinkedIn</a>
                                 <a href="">Whatsapp</a>
                            </div>

                            <p>Localização</p>

                            <button>Email</button>

                            <p>DESCRIÇÃO DO USER PARA DESCREVER COMO É SEUS PROJKETOS</p>

                            <div>
                               <div><span>Porjetos ativos</span> <span>10</span></div>
                               <div><span>Número total de visualizações</span> <span>10</span></div>
                            </div>
                    </div>

            </div>


            <div class="col-lg-8 p-4">

                  <div class="p-3">
                         o
                  </div>

            </div>
       </div>
</div>